.form{
    width: 50%;
    background-color: #333;
    color: white;
    padding: 0.5rem;
    border-radius: 0.6rem;  
    margin-bottom: 0.5rem;
}

.form-field {
    margin: 1rem 0;
    display: flex;
}

.form-field label {
    flex-basis: 20%;
}

.form-field input{
    flex-basis: 80%;
    border: none;
    border-radius: 0.6rem;
    padding: 0.3rem;
}

.form-field textarea{
    flex-basis: 80%;
    resize: none;
    border: none;
    border-radius: 0.6rem;
    padding: 0.3rem;
}

.form button{
    border: none;
    border-radius: 0.6rem;
    width: 50%;
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 0.4rem;
}

.form button:hover {
    background-color: orange;
    color: white;
}